html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}
h3{
  text-align: center;
}
#places{
  position: relative;
  height: 100%;
  max-width: 400px;
}
#map { 
  position: absolute;
  top: 0;
  right: 0;
  min-width: 400px;
  height: 100%; 
  left: 400px;
}
.form-group > label{
  display: inline-block;
  width: 80px;
  text-align: right;
  margin-right: 5px;
  margin-top: 5px;
}
.form-group > input{
  width: 150px;
}
.add-btn{
  width: 243px;
  text-align: right;
  margin-top: 5px;
}
.add-btn > button {
  width: 60px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  margin-bottom: 10px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

table {
  border-collapse: collapse;
  margin-left: 10px;
}
thead { 
  border-bottom: 1px solid lightgray;
}
th {
  text-align: right;
  padding: 10px;
  font-weight: normal;
}
.th-name{
  text-align: left !important;
}
td {
  padding: 10px;
  text-align: right;
}
.td-name{
  text-align: left;
}